mixin movie-card(cover, title, yearType, stars, synopsis, director, cast)
  .move-card-container
    .cover(style="background-image: url('../img/" + cover + "'); ")
    .wrapper
      h3.title= title
      p.year-type= yearType
      .star-vote
        .stars
          - var n = 0;
          while n < stars
            img(src="img/star-filled.svg" alt="Filled Star")
            - n++;
          if stars < 10
            while n < 10
              img(src="img/star-unfilled.svg" alt="Filled Star")
              - n++;

        p.score= "(" + stars + "/10)"
      p.synopsis= synopsis
      .cast-and-crew
        .row.collapse
          .small-4.medium-3.large-2.columns
            p Director:
          .small-8.medium-9.large-10.columns
            a(href="#")= director
          .small-4.medium-3.large-2.columns
            p Starring:
          .small-8.medium-9.large-10.columns
            each val in cast
              a(href="#")= val
            else
              a(href="#")

      a.button.primary.small.add-to-watchlist + Add to Watchlist
